.movie {
    margin-bottom: 47px;
    height: 201px;
    width: 360px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.movie__description {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.movie__photo {
    min-height: 201px;
    object-fit: cover;
    cursor: pointer;
}

.movie__link {
    display: block;
    object-fit: cover;
}

.movie__name {
    color: #FFF;
    line-height: normal;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    max-width: 250px;
}

.movie__duration {
    border-radius: 3px;
    background: #2F2F2F;
    color: #8B8B8B;
    text-align: center;
    line-height: 10px;
    display: flex;
    width: 44px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.movie__favorite_gray {
    background-color: #313131;
    width: 72px;
    height: 21px;
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 30px;
    justify-content: center;
    color: #FFF;
    line-height: 9px;
    color: #FFF;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.movie__favorite_red {
    background: url(../../images/save3_active.svg) no-repeat center;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 21px;
    height: 21px;
    display: flex;
    border: none;
    cursor: pointer;
}

.movie__favorite_cross {
    background: url(../../images/d3.svg) no-repeat center;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 21px;
    height: 21px;
    display: flex;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .movie {
        width: 339px;
        height: 190px;
    }
}

@media (max-width: 540px) {
    .movie {
        width: 300px;
        height: 168px;
    }
    .movie__photo {
        min-height: 168px;
    }
}
