.login {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
}

.login__header {
  margin-bottom: 40px;
  margin-top: 70px;
  width: 100%;
}

.login__logo {
  margin-bottom: 40px;
  width: 38px;
  height: 38px;
}

.login__title {
  margin: 0;
  padding: 0;
  line-height: 29px;
  font-weight: 500;
  font-size: 24px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__label {
  margin-bottom: 10px;
  color: #8b8b8b;
  line-height: normal;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.login__input {
  margin-bottom: 4px;
  background-color: #2f2f2f;
  line-height: 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: calc(100% - 30px);
  padding: 15px;
  font-weight: 500;
  font-size: 13px;
}

.login__error {
  margin-bottom: 4px;
  height: 12px;
  line-height: 12px;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
}

.login__button {
  margin-top: 179px;
  margin-bottom: 16px;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px;
  cursor: pointer;
}

.login__footer {
  color: #8b8b8b;
  line-height: 17px;
  font-weight: 400;
  font-size: 14px;
}

.login__link {
  margin-left: 6px;
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .login__header {
    margin-top: 232px;
  }
}

@media (max-width: 440px) {
  .login {
    margin: 0 30px;
    align-items: center;
  }
  .login__header {
    margin: 56px auto 80px;
  }
  .login__logo {
    margin: 0 auto 50px;
    display: flex;
    justify-content: center;
  }
  .login__title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .login__footer {
    line-height: 15px;
    font-size: 12px;
  }
  .login__link {
    line-height: 15px;
    font-size: 12px;
  }
}

.login__button_disabled {
  margin-top: 179px;
  margin-bottom: 16px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c2c2c2;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px;
}
